/* news */
.ly_news{
    padding-top:40px;
    padding-bottom:48px;
}
.bl_news_in{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.bl_news_text-1{
    color: var(--black-100, #312F2F);
    text-align: center;
    font-size: 32px;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 300;
    line-height: 115%;
    writing-mode: vertical-rl;
    padding-right: 99px;
    letter-spacing: 0.17em;
}
.bl_news_w_text-1{
    color: var(--black-50, rgba(49, 47, 47, 0.50));
    text-align: center;
    font-size: 14px;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 300;
    line-height: 150%;
}
.bl_news_w_text-2{
    color: var(--black-100, #312F2F);
    font-size: 14px;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 300;
    line-height: 150%;
    width: 100px;
}
.bl_news_w_text-3{
    color: var(--black-100, #312F2F);
    font-size: 14px;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 300;
    line-height: 150%;
}
.bl_news_wapper_w{
    display: flex;
    align-items: flex-start;
    gap:29px;
    padding-bottom:16px;
    padding-top:16px;
    border-bottom: 1px solid rgba(49, 47, 47, 0.10);
}
.bl_news_wapper_w:nth-child(1){
    padding-top:0px;
}

/* ================================== */
/*                 sp                 */
/* ================================== */
@media screen and (max-width: 768px) {

    /* news */
    .ly_news {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bl_news_in {
        display: block;
    }
    .bl_news_text-1 {
        font-size: calc(20vw / 375 * 100);
        padding-right: 0;
        padding-bottom: 16px;
        writing-mode: inherit;
    }
    .bl_news_wapper_w {
        display: block;
    }
    .bl_news_w_text-1 {
        margin-bottom: 4px;
        text-align: left;
    }
    .bl_news_w_text-2{
        margin-bottom: 4px;
    }
}