/*==========================*/
/**** ID:singlePlace ****/
/*==========================*/
#singlePlace {

/*==========================*/
/**** ID:head ****/
/*==========================*/
.head {
    margin-top: 10.125rem;
    padding-bottom: 2.5rem;
    @include pc {
        margin-top: 5.25rem;
    }
    @include sp-lg {
        margin-top: 4.375rem;
        padding-bottom: 2rem;
    }
    &--style {
        background: $bg-100;
        background: $bg-grade;
    }
    &__main {
        margin: 1rem 0 1.5rem;
    }
    &__title {
        border-bottom: 1px solid $black10;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    &__h1--style {
        font-size: $text-36;
        font-weight: $regular;
        color: $black100;
        line-height: $tight;
        @include tab {
            font-size: 3.75vw;
        }
        @include sp-lg {
            font-size: $text-24;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include sp-lg {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem 0;
        }
    }
}
//address
.headAddress {
    display: flex;
    align-items: center;
    gap: 0 0.25rem;
    margin-bottom: 0.5rem;
    &__text { 
        color: $black80;
        font-size: $text-16;
        line-height: $normal;
        @include sp-lg {
            font-size: $text-14;
        }
    }
}
//heaerAccess 
.headAccess {
    &__icon {
        @include icon_m($black80);
        @include sp-lg {
            @include icon_xs($black80);
        }
    }
    &__title {
        margin-bottom: 0.25rem;
        @include sp-lg {
            margin-bottom: 0;
        }
    }
    &__text {
        color: $black100;
        font-size: $text-16;
        line-height: $normal;
        @include sp-lg {
            font-size: $text-14;
            &.iconText__text {
                @include sp-lg {
                    font-size: $text-12;
                }
            }
        }
    }
}
//tel
.tel {
    text-align: right;
    @include sp-lg {
        display: flex;
        gap: 0 0.375rem;
    }
    &__number {
        margin-bottom: 0.375rem;
    }
    &__icon {
        @include icon_xl($red60);
        @include sp-lg {
            @include icon_l($red60);
        }
    }
    &__p {
        color: $red60;
        font-size: $text-32;
        font-weight: $bold;
        @include sp-lg {
            font-size: $text-16;
        }
    }
    &__tag--ly {
        + .tel__tag--ly {
            margin-left: 0.5rem;
        }
    }
}
//slider
.sliderFor {
    img {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        height: 25rem; //親テーマのスタイル打ち消し
        object-fit: cover;
        @include tab {
            height: 41vw; //親テーマのスタイル打ち消し
        }
        @include sp-lg {
            height: 59vw; //親テーマのスタイル打ち消し
            margin-right: 0;
            margin-left: 0;            
        }
    }
}
.sliderNav {
    padding-top: 1rem;
    @include sp-lg {
        padding-top: 0.5rem;
    }
    img {
        margin-right: 1rem;
        height: 4.75rem; //親テーマのスタイル打ち消し
        object-fit: cover;
        @include tab {
            height: 7.9vw; //親テーマのスタイル打ち消し
        }
        @include sp-lg {
            margin-right: 0.5rem;
        }
    }
}
.sliderIcon {
    color: $white80;
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    @include sp-lg {
        font-size: 2.5rem;
    }
    &--left {
        left: 1.5rem;
        @include sp-lg {
            left: 0;
        }
    }
    &--right {
        right: 1.5rem;
        @include sp-lg {
            right: 0;
        }
    }
    &:hover {
        cursor: pointer;
    }
}
/*==========================*/
/**** ID:feature ****/
/*==========================*/
.feature {
    border-bottom: 1px solid $black10;
    padding: 2.5rem 0;
    @include sp-lg {
        padding: 2rem 0;
    }
    &__tag {
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        &--color {
            @include tag_gray;
            &.active {
                @include tag_brown;
            }
        }
    }
    &__text {
        color: $black100;
        font-size: $text-16;
        line-height: normal;
        @include sp-lg {
            font-size: $text-14;
        }
        p { //カスタムフィールド自動で出力されるpタグ
            margin-bottom: 1rem;
        }
    }
}
/*==========================*/
/**** ID:infomation ****/
/*==========================*/
.infomation {
    padding: 2.5rem 0;
    border-bottom: 1px solid $black10;
    @include sp-lg {
        padding: 2rem 0;
    }
}
.infomation1 {
    display: flex;
    justify-content: space-between;
    gap: 0 2.5rem;
    margin-bottom: 1.5rem;
    @include sp-lg {
        flex-direction: column;
        gap: 0.75rem 0;
    }
    &__left {
        width: 56%;
        @include sp-lg {
            width: 100%;
        }
    }
    &__right {
        display: flex;
        align-items: stretch;
        width: 40%;
        @include sp-lg {
            display: block;
            width: 100%;
        }
    }
}
.access {
    background-color: $black5;
    padding: 2rem;
    width: 100%;
    @include sp-lg {
        padding: 1rem 0.5rem;
    }
}
.accessTitle {
    margin-bottom: 1rem;
    &__icon {
        @include icon_m($black80);
    }
    &__text {
        color: $black100;
        font-size: $text-16;
        font-weight: $bold;
        line-height: $normal;
    }
}
.accessContent {
    &__li {
        margin-bottom: 0.5rem;
        flex-wrap: nowrap;
    }
    &__icon {
        @include icon_m($black80);
    }
    &__text {
        display: inline;
        color: $black100;
        font-size: $text-16;
        font-weight: $regular;
        line-height: $normal;
        @include sp-lg {
            font-size: $text-14;
        }
    }
}

.map {
    margin-bottom: 1.5rem;
    #funeralMap {
        height: 320px;
        @include sp-lg {
            height: 85.33vw;
        }
    }
}
.infomation2 {
    margin-bottom: 1.5rem;
}

/*==========================*/
/**** ID:footerBefore1 ****/
/*==========================*/
.footerBefore1 {
    padding: 2.5rem 0;
    @include sp-lg {
        padding: 2rem 0;
    }
    border-bottom: 1px solid $black10;
    &__iconText {
        flex-wrap: wrap;
    }
}
/*==========================*/
/**** ID:footerBefore2 ****/
/*==========================*/
.footerBefore2 {
    padding: 2.5rem 0;
    border-bottom: 1px solid $black10;
    &__content {
        display: flex;
        gap: 0 1rem;
    }
    &__title {
        color: $black100;
        font-size: $text-16;
        font-weight: $bold;
        line-height: normal;
        flex-shrink: 0;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        gap:0 1rem;
    }
    &__link {
        @include link_m($black80);
        // & + .footerBefore2__link {
        //     margin-left: 1rem;
        // }
    }
}

/* WP-reset */
#sidebar{
    display:none;
}
#footer{
    display:none;
}
.mobile-menu-buttons {
    display: none;
}

}