@import "./variables"; // 変数
//@import "./components"; // Components

/* map */
.ly_map{
    padding-top:40px;
    padding-bottom: 8px;
    background-color: #F8F9FA;
    text-align: center;
}
.bl_map_text-1 {
    color: $black100;
    text-align: center;
    font-size: $text-32;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: $bold;
    line-height: $normal;
    padding-bottom: $space-8;
    @include tab {
        font-size: 2.66vw;    
    }
    @include sp-lg {
        font-size: 6.4vw;    
    }
}
.bl_map_text-2 {
    color: $black80;
    text-align: center;
    font-size: $text-16;
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: $regular;
    line-height: $normal;
    padding-bottom: $space-16;
    @include sp-lg {
        font-size: $text-14;    
    }
}
.map {
    &__buttonWrap {
        margin-top: $space-16;
    }
}