@import "./variables"; // 変数
//@import "./components"; // Components

/*==========================*/
/**** ID:pagePlace ****/
/*==========================*/
#pagePlace {

/*==========================*/
/**** ID:head ****/
/*==========================*/
.head {
    margin-top: 10.125rem;
    margin-bottom: 1rem;
    @include pc {
        margin-top: 4.125rem;
    } 
    @include sp-lg {
        margin-top: 4.125rem;
    }
}

/* WP-reset */
#sidebar{
    display:none;
}
#footer{
    display:none;
}
.mobile-menu-buttons {
    display: none;
}

/*==========================*/
/**** addInfo ****/
/*==========================*/
.addInfo {
    .col--2 {
        align-items: center;
        @include sp-lg {
            justify-content: center;
        }
    }
    &__icon {
        font-size: $text-32;
        color: $red50;
    }
}
}
