@import "./variables"; // 変数
//@import "./components"; // Components

/*==========================*/
/**** ID:pageCompany ****/
/*==========================*/
#pageCompany {

/*==========================*/
/**** ID:head ****/
/*==========================*/
    .head {
        margin-top: 10.125rem;
        padding-bottom: 3rem;
        @include pc {
            margin-top: 5.25rem;
        }
        @include sp-lg {
            margin-top: 4.375rem;
        }
        &__title {
            margin-top: 2rem;
        }
        &__h1--style {
            font-size: $text-40;
            font-weight: $bold;
            color: $black100;
            line-height: $normal;
            @include tab {
                font-size: 4.166vw;
            }
            @include sp-lg {
                font-size: $text-24;
                // font-weight: $regular;
            }
        }
    }
    .content1 {
        margin-bottom: $space-64;
        @include sp-lg {
            margin-bottom: 4rem;
        }
    }

    .content {
        margin-top: 0; //親テーマのCSSをリセット
    }
    .title {
        margin-bottom: $space-32;
    }
    .staffCommentWrap {
        margin-bottom: $space-40;
        .box--white {
            margin-bottom: $space-16;
        }
    }
    .fullBg {
        background: $bg-grade;
    }
    .staff-images {
        padding: $space-96 0;
        @include sp-lg {
            padding: $space-40 0;
        }
        .staff-images-images {
            display: flex;
            gap: $space-24;
            .staff-images-images-item {
                flex: 1;
            }
            img {
                width: 100%;
            }
        }
        .staff-images-text {
            margin-top: $space-16;
            .colorPink {
                color: $pink60;
            }
        }
    }
}