@charset "UTF-8";
/*==========================*/
/****** ブレイクポイント ******/
/*==========================*/
/*==========================*/
/********* カラー変数 *********/
/*==========================*/
/*==========================*/
/********* テキスト変数 *********/
/*==========================*/
body {
  font-family: "Noto Sans JP", sans-serif;
}

/*==========================*/
/****** スペーシング ******/
/*==========================*/
/*==========================*/
/****** セクションインナー ******/
/*==========================*/
#pageSimulatorResult .head {
  margin-top: 10.125rem;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1100px) {
  #pageSimulatorResult .head {
    margin-top: 4.125rem;
  }
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .head {
    margin-top: 4.125rem;
  }
}
#pageSimulatorResult .result {
  padding: 2.5rem 0;
}
#pageSimulatorResult .result__title {
  margin-bottom: 1.5rem;
}
#pageSimulatorResult .result__main {
  background-color: rgba(49, 47, 47, 0.05);
  display: flex;
  gap: 0 1rem;
  padding: 1.5rem 2.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .result__main {
    flex-direction: column;
    gap: 1rem 0;
    padding: 1.5rem 1rem;
  }
}
#pageSimulatorResult .result__imgWrap {
  width: 20%;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .result__imgWrap {
    width: 100%;
  }
}
#pageSimulatorResult .result__textWrap {
  width: 75%;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .result__textWrap {
    width: 100%;
  }
}
#pageSimulatorResult .resultPlan {
  margin-bottom: 1.5rem;
}
#pageSimulatorResult .resultPlan__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultPlan__inner {
    flex-direction: column;
    gap: 0.75rem 0;
    margin-bottom: 0.75rem;
  }
}
#pageSimulatorResult .resultPlan__tag {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}
#pageSimulatorResult .resultPrice .table1__th {
  width: 35%;
}
#pageSimulatorResult .resultTotal {
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultTotal {
    align-items: flex-start;
  }
}
#pageSimulatorResult .resultTotal .table1__td {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultTotal .table1__td {
    flex-direction: column;
    align-items: initial;
  }
}
#pageSimulatorResult .resultTotal .table1__td .resultPrice__price {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultTotal .table1__td .resultPrice__price {
    text-align: right;
  }
}
#pageSimulatorResult .resultCost__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#pageSimulatorResult .resultReturn__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
#pageSimulatorResult .resultOtherCost {
  flex-direction: column;
}
#pageSimulatorResult .resultOtherCost .table1__th {
  width: 100%;
  border: none;
  padding-bottom: 0.25rem;
}
#pageSimulatorResult .resultOtherCost .table1__td {
  width: 100%;
  padding-top: 0;
}
#pageSimulatorResult .campaignBanner {
  background-color: white;
  border: 1px solid rgba(49, 47, 47, 0.1);
  padding: 0.375rem 1rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .campaignBanner__text {
    display: inline-block;
  }
}
#pageSimulatorResult .result__aside {
  text-align: right;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .result__aside {
    text-align: left;
  }
}
#pageSimulatorResult .resultService {
  margin-bottom: 2.5rem;
}
#pageSimulatorResult .resultService__main {
  background-color: rgba(49, 47, 47, 0.05);
  padding: 1rem 2rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultService__main {
    padding: 1rem 0.625rem;
  }
}
#pageSimulatorResult .resultOption__main {
  background-color: rgba(49, 47, 47, 0.05);
  padding: 1rem 2rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .resultOption__main {
    padding: 1rem 0.625rem;
  }
}
#pageSimulatorResult .planItemGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .planItemGroup {
    gap: 0.5rem 0.25rem;
  }
}
#pageSimulatorResult #resultCost__link, #pageSimulatorResult #resultReturn__link {
  cursor: pointer;
}
#pageSimulatorResult #resultCost__aside, #pageSimulatorResult #resultReturn__aside {
  display: none; /* 初期状態では非表示 */
}
#pageSimulatorResult .content1 {
  padding-top: 2.5rem;
}
#pageSimulatorResult .content1__title {
  margin-bottom: 2.5rem;
}
#pageSimulatorResult .speechBallon {
  justify-content: center;
}
#pageSimulatorResult .content1Box + .content1Box {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
#pageSimulatorResult .content1Box__title {
  margin-bottom: 0.5rem;
}
#pageSimulatorResult .content2 {
  padding: 2.5rem 0;
}
#pageSimulatorResult .content2Box {
  padding: 1.5rem 2.5rem;
}
@media screen and (max-width: 768px) {
  #pageSimulatorResult .content2Box {
    padding: 1rem 1rem;
  }
}
#pageSimulatorResult .content2Box + .content2Box {
  margin-top: 2.5rem;
}
#pageSimulatorResult .content2Box__title {
  margin-bottom: 1rem;
}
#pageSimulatorResult .content2Box__main {
  margin-bottom: 1rem;
}