@charset "UTF-8";
/*==========================*/
/****** ブレイクポイント ******/
/*==========================*/
/*==========================*/
/********* カラー変数 *********/
/*==========================*/
/*==========================*/
/********* テキスト変数 *********/
/*==========================*/
body {
  font-family: "Noto Sans JP", sans-serif;
}

/*==========================*/
/****** スペーシング ******/
/*==========================*/
/*==========================*/
/****** セクションインナー ******/
/*==========================*/
#topFlow {
  padding: 48px 0;
}
#topFlow .topFlow__titleWrap {
  margin-bottom: 1.5rem;
  text-align: center;
}
#topFlow .topFlow__title {
  margin-bottom: 0.25rem;
}